TF_VAR_proxmox_api_token="terraform@pve!talos=REDACTED"
HOMELAB_CONFIG_PATH=./envs/homelab.yaml
HOMELAB_OVERRIDE_PATH=./envs/homelab.override.yaml
HOMELAB_EFFECTIVE_PATH=./out/homelab.effective.yaml
KUBECONFIG=./out/kubeconfig
TALOSCONFIG=./out/talosconfig
BAO_ADDR='http://127.0.0.1:8200'
BAO_TOKEN=''
SERVER_HOSTNAME='127.0.0.1'
